@CHARSET "UTF-8";

body{
margin: 5px;
    color: black;
}

#frame {							/* Outside Frame */
width: 968px;
margin: 10px auto;
background-color: blue;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#loginframe {
    width: 600px;
    margin: 2px;
    padding: 5px;
    background-color: lightblue;
    border: 1px solid black;
}

#dataframe{
    width: 600px;
    margin: 2px;
    padding: 5px;
    background-color: lightblue;
    border: 1px solid black;
}

#deleteframe{
    width: 600px;
    margin: 2px;
    padding: 5px;
    background-color: lightblue;
    border: 1px solid black;
}

.header {
    text-align: center;
    color: blue;
    background-color: yellow;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 8px;

}

#invoice {
    width: 600px;
    margin: 10px auto;
    padding: 5px;
    background-color: grey;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.bubble {

    font-size: 24px;
}



#guestlog{
    border: solid black 1px;
}

.ticket{
    border: solid 1px black;
    background-color: lightblue;
}