
body{
margin: 0px;
    color: aqua;
}

#frame {							/* Outside Frame */
width: 968px;
margin: 10px auto;
background-color: #aaa;
}

#invoice{
    width: 600px;
    margin: 10px auto;
    padding: 5px;
    background-color: yellow;
    border: 5px;
    border-color: blue;
}